

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-image: url('../img/body.jpg');
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

.top_container{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.menu_top{
	width: 100%;
	background-color: darkblue;
	opacity: .5;
	padding: 14px;
	overflow: hidden;
}

.menu_top ul{
	float: right;
	padding-right: 6%;
}

.menu_top ul li{
	display: inline-block;
}

.menu_top li{
	position: relative;
	text-align: center;
}

.menu_top li::before{
	position: absolute;
	content: " ";
	bottom: -30px;
	left: 0;
	width: 90%;
	height: 0px;
	background-color: gold;
	transition: ease 0.3s;
}

.menu_top li:hover::before{
	height: 4px;
}

.menu_top a{
	font: 20px bold Verdana;
	text-decoration: none;
	padding-right: 10px;
	color: white;
}

.top-bar{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: limegreen;
	border-bottom: 4px solid aqua;
	z-index: 9999;
}

.container{
	width: 68%;
	margin: 40px auto;
	background-color: palegoldenrod;
	padding: 6px;
	position: relative;
	opacity: .85;
}

.link {
	position: absolute;
	background-image: url("../img/t.png");
	width: 150px;
	height:150px;
	background-size: cover;
	top:-10px;
	right: -19px;
}

.header{
	background-color: teal;
	padding: 20px;

}

.header h1{
	font-family: papyrus ;
	font-size: 40px;
	font-weight: bold;
	font-style: none;
	margin :10px 6px;
	color: white;
	text-shadow: 3.2px 2.2px 4px rgba(25,255,30,.9);
}

.header ul li{
	display: inline;
	font-size: 12.5px;
	font-family: verdana;
	color:coral;
	padding-right: 5px;
}

.header a{
	text-decoration: none;
}

.image img{
	width:100%;
	height: 300px;
	border-top: 4.5px solid salmon;
	border-bottom: 4.5px solid lime;
}

.main{
	width: 65%;
	float: left;
	margin-left: 20px;
}

.main h1{
	font-family:serif ;
	font-size: 25px;
	font-weight: bold;
	font-style: none;
	margin-top: 7px;
	margin-bottom: -10px;
}

.main a{
	text-decoration: none;
}

.submain img{
	margin-right:10px;
	padding-top: 25px;
	float: left;
}

.submain .p{
	margin-left: 7px;
	padding-top: 25px;
	text-align: justify;
	text-indent: 40px;
}

.sidebar{
	padding:20px 10px;
	margin-left: 10px;
	margin-right: 20px;
	width: 28%;
	float:right;
	margin-top: -30px;
}

.sidebar h3{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.sidebar img{
	float: left;
	margin-right: 10px;
}

.sidebar p{
	text-align: justify;
	margin-top: -7px;
	font-size: 14px;
}

.footer{
	width:100%;
	color:white;
	background-color: black;
	font-style: italic;
	font-size: 15px;
	font-family: verdana;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 10px;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

*{
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
p{
	line-height: 1.5em;
}


